{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Barang Hampir Habis{% endblock %}

{% block content %}

<div class="mt-2 ml-4 mb-2">
    <span class="text-2xl"> Barang Hampir Habis </span>
</div>
<hr>
{% for row in barangsedikit %}
<div x-data="{ isActive: false, open: false}">
    <!-- active & hover classes 'bg-primary-100 dark:bg-primary' -->
    <h1
      href="#"
      @click="$event.preventDefault(); open = !open"
      class="flex items-center p-4 mr-14 text-gray-700 border-r border-b dark:border-primary-darker transition-colors dark:text-light hover:text-white hover:bg-primary-dark dark:hover:bg-primary"
      :class="{'bg-primary text-white dark:bg-primary': isActive || open}"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >
      <span aria-hidden="true">
        <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
        </svg>
      </span>
      <span class="ml-2 text-sm">  Barang Hampir Habis </span>
      <span class="ml-auto" aria-hidden="true">
        <!-- active class 'rotate-180' -->
        <svg
          class="w-4 h-4 transition-transform transform"
          :class="{ 'rotate-180': open }"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </span>
    </h1>
    <div role="menu" x-show="open" class="pt-2 mr-14 space-y-2 px-7 border-r dark:border-primary-darker" aria-label="notifikasi">
      <!-- active & hover classes 'text-gray-700 dark:text-light' -->
      <!-- inActive classes 'text-gray-400 dark:text-gray-400' -->
      <div class="flex justify-between">
        <!-- Info Pemesan -->
          <div class="mt-1">
              <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  Nama Barang
              </h1>
              <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  Merk
              </h1>
              <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  Kategori
              </h1>
              <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  Jumlah 
              </h1>
              <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  Rak
              </h1>
          </div>

          <!-- Info Barang -->
          <div class="mt-1">
            <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  : {{ row.namabarang }}
              </h1>
            <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  : {{ row.merk }}
              </h1>
            <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  : {{ row.namakategori }}
              </h1>
              <div class="flex">
                  <h1
                        role="menuitem"
                        class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                    >
                        : {{ row.stok }}
                    </h1>
                  <h1
                        role="menuitem"
                        class="block p-2 mx-5 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                    >
                        {{ row.nama_satuan }}
                    </h1>
              </div>
            <h1
                  role="menuitem"
                  class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
              >
                  : {{ row.nama_rak }}
              </h1>
          </div>

          <!-- Image Barang dan Button -->
          <div class="mx-20">
            <div class="w-56 mb-8">           
                <img src="https://stackdiary.com/140x100.png" class="w-full h-full object-top rounded-lg bg-white">              
            </div>
          </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}