{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Daftar Pengguna{% endblock %}

{% block content %}

<div class="flex  mt-2 ml-10 ">
    <span class="text-2xl">
        Daftar Pengguna
    </span>
</div>
<br/>
<div class="overflow-x-auto relative shadow-md sm:">
    <div class="flex justify-between items-center pb-4 bg-white dark:bg-gray-900">
        <div>
          <div class="mt-4 ml-4">
            <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                <span class="sr-only">Action button</span>
                Daftar Unit Kerja
                <svg class="ml-2 w-3 h-3" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
          </div>
            <!-- Dropdown menu -->
            <div id="dropdownAction" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
                    <li>
                        <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reward</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Promote</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Activate account</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-4 mr-4">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <input type="text" id="table-search-users" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
          </div>
        </div>
    </div>
    
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="mytable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Nama dan NIP
                </th>
                <th scope="col" class="py-3 px-6">
                    Email Dan Nomor Handphone
                </th>
                <th scope="col" class="py-3 px-6">
                    Jabatan
                </th>
                <th scope="col" class="py-3 px-6">
                    Status
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in pengguna %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" >
                    <div class="pl-3">
                      <div class="text-base font-semibold">{{ row.nama }}</div>
                      <div class="font-normal text-gray-500">{{ row.nip }}</div>
                  </div>  
                </th>
                
                <td class="py-4 px-6">
                  <div class="">
                    <div class="text-base font-semibold">{{ row.email }}</div>
                    <div class="font-normal text-gray-500">{{ row.nomor_tlp }}</div>
                </div>
                </td>
                <td class="py-4 px-6">
                    {{ row.nama_jabatan }}
                </td>
                <td class="py-4 px-6">
                    <div class="flex items-center">
                        {% if row['nama_status'] == 'Aktif' : %}
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>{{ row.nama_status }}
                        {% else %}
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>{{ row.nama_status }}
                        {% endif %}
                    </div>
                </td>
                <td class="py-4 mb-2 px-6">
                  <div class="flex items-center">
                    <a href="/kepgud/daftarpengguna/aktifakun/{{ row.id_user }}" class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark" role="button">Aktifkan</a>
                    <a href="/kepgud/daftarpengguna/nonaktifakun/{{ row.id_user }}" class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark" role="button">Nonaktifkan</a>
                </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}  
    </table>
     
  </div>

{% endblock %}