{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Unit Kerja{% endblock %}

{% block content %}
<div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
  <a href="#">
      <h1 class="text-2xl font-semibold">Daftar Unit Kerja</h1>
  </a>

  <!-- Tambah Unit Kerja -->
  <div class="">
      <a
          href="#"
          class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
          type="" data-modal-toggle="authentication-modal"
          >
          + Tambah Unit Kerja
      </a>
  </div>
</div>
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="py-6 px-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">+ Tambah Unit Kerja</h3>
              <form class="space-y-6" action="/kepgud/unitkerja/tambahunitkerja" method=POST>
                  <div class="flex justify-between items-center">
                      <div class="mx-1">
                          <label for="id_unitkerja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ID Unit Kerja</label>
                          <input type="number" name="id_unitkerja" id="id_unitkerja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Auto Generated">
                      </div>
                      <div class="mx-1">
                          <label for="namaunitkerja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Unit Kerja</label>
                          <input type="text" name="namaunitkerja" id="namaunitkerja" placeholder="Nama Unit Kerja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div class="flex justify-between items-center">
                      <div class="mx-1">
                          <label for="alamat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alamat</label>
                          <input type="text" name="alamat" id="alamat" placeholder="Alamat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div>
                      <label for="kontak" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kontak</label>
                      <div class="flex items-center">
                          <input type="text" name="no_telp" id="no_telp" placeholder="Nomor Telepon" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                          <input type="text" name="no_fax" id="no_fax" placeholder="Nomor Fax" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div>
                      <div class="flex justify-between items-center">
                          <input type="text" name="email" id="email" placeholder="Email" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                          <input type="text" name="web" id="web" placeholder="Web" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div class="flex justify-between items-center">
                    <div class="mx-1">
                        <label for="cabang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cabang</label>
                        <input type="text" name="cabang" id="cabang" placeholder="Cabang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                    </div>
                </div>
                  <div class="flex justify-between">
                      <button type="submit" class="text-white bg-primary hover:bg-primary-darker focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary-darker dark:focus:ring-primary-dark font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 transition duration-150">
                          Tambah
                      </button>
                      <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-toggle="authentication-modal">
                          Kembali
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="py-6 px-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">+ Tambah Unit Kerja</h3>
              <form class="space-y-6" action="/kepgud/unitkerja/tambahunitkerja" method=POST>
                  <div class="flex justify-between items-center">
                      <div class="mx-1">
                          <label for="id_unitkerja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ID Unit Kerja</label>
                          <input type="number" name="id_unitkerja" id="id_unitkerja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Auto Generated">
                      </div>
                      <div class="mx-1">
                          <label for="namaunitkerja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Unit Kerja</label>
                          <input type="text" name="namaunitkerja" id="namaunitkerja" placeholder="Nama Unit Kerja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div class="flex justify-between items-center">
                      <div class="mx-1">
                          <label for="alamat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alamat</label>
                          <input type="text" name="alamat" id="alamat" placeholder="Alamat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div>
                      <label for="kontak" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kontak</label>
                      <div class="flex items-center">
                          <input type="text" name="no_telp" id="no_telp" placeholder="Nomor Telepon" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                          <input type="text" name="no_fax" id="no_fax" placeholder="Nomor Fax" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div>
                      <div class="flex justify-between items-center">
                          <input type="text" name="email" id="email" placeholder="Email" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                          <input type="text" name="web" id="web" placeholder="Web" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                      </div>
                  </div>
                  <div class="flex justify-between items-center">
                    <div class="mx-1">
                        <label for="cabang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cabang</label>
                        <input type="text" name="cabang" id="cabang" placeholder="Cabang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required autocomplete="off">
                    </div>
                </div>
                  <div class="flex justify-between">
                      <button type="submit" class="text-white bg-primary hover:bg-primary-darker focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary-darker dark:focus:ring-primary-dark font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 transition duration-150">
                          Tambah
                      </button>
                      <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-toggle="authentication-modal">
                          Kembali
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    {% for row in unitkerja %}
    <div x-data="{ isActive: false, open: false}">
        <!-- active & hover classes 'bg-primary-100 dark:bg-primary' -->
        <h1
          href="#"
          @click="$event.preventDefault(); open = !open"
          class="flex items-center p-4 text-gray-700 border-r border-b dark:border-primary-darker transition-colors dark:text-light hover:text-white hover:bg-primary-dark dark:hover:bg-primary"
          :class="{'bg-primary text-white dark:bg-primary': isActive || open}"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
        >
          <span aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
              </svg>
          </span>
          <span class="ml-2 text-sm"> UNKER </span>
          <span class="ml-auto" aria-hidden="true">
            <!-- active class 'rotate-180' -->
            <svg
              class="w-4 h-4 transition-transform transform"
              :class="{ 'rotate-180': open }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </h1>
        <div role="menu" x-show="open" class="pt-2 space-y-2 px-7 border-r dark:border-primary-darker" aria-label="notifikasi">
          <!-- active & hover classes 'text-gray-700 dark:text-light' -->
          <!-- inActive classes 'text-gray-400 dark:text-gray-400' -->
          <div class="flex justify-between">
            <!-- Info Pemesan -->
              <div class="mt-1">
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.namaunitkerja }}
                  </h1>
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.cabang }}
                  </h1>
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.no_fax }}
                  </h1>
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.no_telp }}
                  </h1>
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.email }}
                  </h1>
                  <h1
                      role="menuitem"
                      class="block p-2 text-sm text-gray-600 dark:text-gray-400 transition-colors rounded-md"
                  >
                      {{ row.alamat }}
                  </h1>
              </div>

              <!-- Image Barang dan Button -->
              <div class="mx-20">
                <div class="w-56 mb-8">           
                    <img src="https://stackdiary.com/140x100.png" class="w-full h-full object-top rounded-lg bg-white">              
                </div>
                <div class="pb-3">
                    <a
                    href="/kepgud/unitkerja/editunitkerja/{{ row.id_unitkerja }}"
                    class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
                    type=""
                    >
                    Edit Unit kerja
                </a>
            
                <!-- Main modal Tambah Barang -->
                <div id="editunker-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="editunker-modal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="py-6 px-6 lg:px-8">
                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Edit Unit kerja</h3>
                                <form class="space-y-6" action="#">
                                    <div class="flex justify-between items-center">
                                        <div class="mx-1">
                                            <label for="nama_barang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Barang</label>
                                            <input type="text" name="nama_barang" id="nama_barang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Nama Barang" required>
                                        </div>
                                        <div class="mx-1">
                                            <label for="merk" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Merk</label>
                                            <input type="text" name="merk" id="merk" placeholder="Merk" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                        </div>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="mx-1">
                                            <label for="nama_barang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Fax </label>
                                            <input type="text" name="nama_barang" id="nama_barang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Fax" required>
                                        </div>
                                        <div class="mx-1">
                                            <label for="merk" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">No Telepon</label>
                                            <input type="text" name="merk" id="merk" placeholder="No Telepon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                        </div>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="mx-1">
                                            <label for="nama_barang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Email </label>
                                            <input type="text" name="nama_barang" id="nama_barang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Email" required>
                                        </div>
                                        <div class="mx-1">
                                            <label for="merk" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alamat</label>
                                            <input type="text" name="merk" id="merk" placeholder="Alamat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload image</label>
                                        <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file">
                                        <p class="mt-1 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or GIF (MAX. 800x400px).</p>
                                    </div>
                                    <div class="flex justify-between">
                                        <button type="submit" class="text-white bg-primary hover:bg-primary-darker focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary-darker dark:focus:ring-primary-dark font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 transition duration-150">
                                            Edit
                                        </button>
                                        <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-toggle="editunker-modal">
                                            Kembali
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
                    <button class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        Pengguna
                    </button>
                </div>
              </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
