<!doctype html>
<html lang="en">
  <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <title>Menu Utama</title>
  </head>
  <body>


<!--Start Untuk Halaman Kepala Gudang -->
        {% if session['tingkat'] == 'Kepala Gudang' : %}
<div class="d-flex justify-content-center">Selamat datang {{ account['nama'] }}</div>

<br>
<div class="d-flex justify-content-around"><a type="button" class="btn btn-primary" href="{{ url_for('homekepgud') }}">Masuk Ke Aplikasi</a></div>

        <!--Start Untuk Halaman Kepala Sekolah -->
            {% elif session['tingkat'] == 'Kepala Sekolah' : %}
<div class="d-flex justify-content-center">Selamat datang {{ account['nama'] }}</div>

<br>
<div class="d-flex justify-content-around"><a type="button" class="btn btn-primary" href="{{ url_for('homekepsek') }}">Masuk Ke Aplikasi</a></div>


          <!--Start Untuk Halaman Pegawai -->
            {% else %}
<div class="d-flex justify-content-center">Selamat datang {{ account['nama'] }}</div>

<br>
<div class="d-flex justify-content-around"><a type="button" class="btn btn-primary" href="{{ url_for('homepegawai') }}">Masuk Ke Aplikasi</a></div>

            {% endif %}

  </body>
</html>