<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eventory</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    </head>
    <form action="{{ url_for('register') }}" method="POST" id="login-form">
    <body>
        <div class="flex items-center bg-gray-50">
            <div class="flex-1 max-w-full bg-white ">
                <div class="flex flex-col md:flex-row">
                    <div class="h-full w-full md:h-full md:w-7/8">
                        <img class="object-cover w-full h-full" src="https://source.unsplash.com//1600x1300"
                        alt="img" />
                        
                    </div>
                    <div class="flex items-center h-full justify-center sm:p-12 md:w-1/2">
                        <div class="w-full">
                            <div class="flex justify-center">
                                <img class="mb-3" src="/static/img/Logo.png" width="75px" alt="">
                            </div>
                            <h1 class="mb-1 text-2xl font-bold text-center text-gray-700">
                                Register
                            </h1>
                            <div class="mt-2">
                                <label class="block text-sm">
                                    ID User
                                </label>
                                <input type="number"
                                    class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    placeholder="Auto Generated" id="id_user" name="id_user"/>
                            </div>
                            <div class="mt-2">
                              <label class="block text-sm">
                                  Kode Jabatan
                              </label>
                              <select name="kode_jabatan" data-live-search="true" id="car_brand" class="form-control" title="Jabatan"> 
                                {% for row in row %}
                                <option value="{{row.kode_jabatan}}">{{row.nama_jabatan}}</option>
                                {% endfor %}
                                </select>
                          </div>
                            <div class="mt-2">
                                <label class="block text-sm">
                                    Nama
                                </label>
                                <input type="text"
                                    class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    placeholder="" name="nama" id="nama" autocomplete="off"/>
                            </div>
                            
                            <div class="mt-2">
                                <label class="block text-sm">
                                    Email
                                </label>
                                <input type="email"
                                    class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    placeholder="" name="email" id="email"/>
                            </div>
                            <div>
                                <label class="block mt-2 text-sm">
                                    Password
                                </label>
                                <input name="nip"
                                    class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    placeholder="" type="password" id="myInput"/>
                            </div>
                            <div>
                                <label class="block mt-2 text-sm">
                                    Confirm Password
                                </label>
                                <input
                                    class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    placeholder="" type="password" id="myInput"/>
                            </div>
                            <div class="mt-2">
                              <label class="block text-sm">
                                  No Hanphone
                              </label>
                              <input type="name"
                                  class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                  placeholder="" name="nomor_tlp" id="nomor_tlp"/>
                          </div>
                            <div class="mt-2">
                              <label class="block text-sm">
                                  Tingkat
                              </label>
                              <select name="tingkat" data-live-search="true" id="car_brand" class="form-control" title="Jabatan">

                                <option value="Kepala Gudang">Kepala Gudang</option>
                                  <option value="Kepala Sekolah">Kepala Sekolah</option>
                                  <option value="Pegawai">Pegawai</option>

                                </select>
                          </div>
                            <br/>
                            <div>{{ msg }}</div>
                            <button
                            class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                            href="#">
                            Register
                        </button>
                        <br/>
                        <input type="checkbox" onclick="myFunction()">Show Password
						<br/>
                      </form>
					  <br/>
					  <div class="flex justify-center mb-6">
                            <p class="mt-4">
                                Punya Akun
                                <a class="text-sm text-black hover:underline" href="{{ url_for('login') }}">
                                    Login!
                                </a>
                            </p>
                        </div>

                            <hr class="" />
                            <div class="flex justify-center text-xs opacity-50 ">
                                all right reserved © Copyright 2022, Inventory, 
                            </div>
                           <p class="flex justify-center opacity-50 text-xs ">
                            created by Moonware  
                        </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- script -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
            $("#car_brand").selectpicker();

            $("#car_models").selectpicker();

            function load_data(type, category_id) {
                $.ajax({
                    url: "/dropdown",
                    method: "POST",
                    data: { type: type, category_id: category_id },
                    dataType: "json",
                    success: function (data) { //alert(category_id)
                        var html = "";
                        for (var count = 0; count < data.length; count++) {
                            html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                        }
                        if (type == "carData") {
                            $("#car_brand").html(html);
                            $("#car_brand").selectpicker("refresh");
                        } else {
                            $("#car_models").html(html);
                            $("#car_models").selectpicker("refresh");
                        }
                    },
                });
            }

            $(document).on("change", "#car_brand", function () {
                var category_id = $("#car_brand").val();
                load_data("carModeldata", category_id);
            });
        });
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    </body>
</html>