{% extends 'halamanpegawai/layout.html' %}
<img src="{{ url_for('serve_img', img_id=r.id)}}">
{% block title %}Profile{% endblock %}

{% block content %}
<form action="/pegawai/homepegawai/profile/gantipassword/{{ account['id_user'] }}" method=POST>
    <div class="mb-3 row">
                            <label for="nip" class="col-sm-2 col-form-label">Password Baru:</label>
                                <div class="col-sm-10">
                            <input type="text" value="{{ account['nip'] }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" name="nip" required autocomplete="off">
                                </div>
    </div>
    <div class="card text-center">
                <div class="card-footer text-muted">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ganti</button>
                    <a href="{{ url_for('profilpegawai') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" role="button">Batal</a>
            <br/>
                </div>
                <br/>
            </div>
</form>
{% endblock %}